<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BrowserStack Suite" parallel="tests" thread-count="5">
    <test name="Test on Chrome">
        <parameter name="browser" value="Chrome"/>
        <parameter name="browserVersion" value="latest"/>
        <parameter name="os" value="Windows 8"/>
        <classes>
            <class name="FlipkartTestParallel"/>
        </classes>
    </test>
    <test name="Test on Firefox">
        <parameter name="browser" value="Firefox"/>
        <parameter name="browserVersion" value="latest"/>
        <parameter name="os" value="Windows 10"/>
        <classes>
            <class name="FlipkartTestParallel"/>
        </classes>
    </test>
    <test name="Test on Edge">
        <parameter name="browser" value="Edge"/>
        <parameter name="browserVersion" value="latest"/>
        <parameter name="os" value="Windows 11"/>
        <classes>
            <class name="FlipkartTestParallel"/>
        </classes>
    </test>
    <test name="Test on Safari">
        <parameter name="browser" value="Safari"/>
        <parameter name="browserVersion" value="latest"/>
        <parameter name="os" value="Mac Catalina"/>
        <classes>
            <class name="FlipkartTestParallel"/>
        </classes>
    </test>
    <test name="Test on MacChrome">
        <parameter name="browser" value="Chrome"/>
        <parameter name="browserVersion" value="latest"/>
        <parameter name="os" value="Mac Monterey"/>
        <classes>
            <class name="FlipkartTestParallel"/>
        </classes>
    </test>
</suite>